

{{> head }}
    <!-- Importacion de template-->
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1> El maravillosos numero 62 </h1>
            wow es el numero increible de la sueteeee
        </div>>
        <div class="col-4">
            <img src="assets/img/62.png" class="img-thumbnail"
        </div>>
    </div>

{{> footer}}

<!-- '! + Tabulador' visual studio creates basic structure for html -->